import React from "react";

import "./{{pascalCase name }}.scss";

export interface {{ propName name }} {}

const {{ pascalCase name }}: React.FC<{{ propName name }}> = (props: {{ propName name }}) => {
  return (
  <div className="{{ pascalCase name }}"></div>
  )
}

export default {{ pascalCase name }};
